.header {
    background-color: #474d8b;
    width: 100%;
    height: 60px;
}
body {
    background-image: url("theme.jpg");
}
#logo {
    padding: 0 400px;
}
.form-contro {
    position: relative;
    flex: none;
    width: 13%;
    min-width: 0;
}

.New {
    position: relative;
    width: 20%;
    height: 0%;
    left: -21%;
    top: 12px;
    display: inline-block;
    background-color: #e5e5e5;
}

.search {
    background-color: #95aac9;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 29.5px;
    position: relative;
    left: 185px;
    bottom: 29.6px;
}

.lgn_butt {
    background-color: #474d8b;
    border-radius: 10px;
    color: #474d8b;
    color: #474d8b;
    padding: 5px 2px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 16px; */
    /* cursor: pointer; */
    float: right;
    /* left: 81%; */
    /* right: 5%; */
    position: relative;
    bottom: 118%;
}

.content {
    display: inline-block;
	float: left;
}

.text {
    background-image: url("Screenshot_1.png");
    position: relative;
    width: 78vw;
    left: 1%;
    margin-top: -31%;
    resize: vertical;
    background-repeat: repeat;
    font-size: xx-large;
}

.List {
    display: inline-block;
    /* margin-left: -140%; */
    position: absolute;
    margin-top: 20px;
    left: 35px;
}
#name {
    color: #474d8b;
}
.tbl {
    background-color: #474d8b;
    display: block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    min-width: 140px;
    display: block;
    margin-left: -19%;
}

.btn {
    background-color: #474d8b !important;
    border: none !important;
}

.btn-primary {
    color: white !important;

}

.border-light {
    border-color: #474d8b !important;
}


#stupid_css {
	margin-top: 30% !important;
	background-color: #474d8b !important;
    border-radius: 10px;
    color: #474d8b;
}

.nav-link {
    display: inline-block !important;
    padding: 0.5rem 1rem !important;
    margin-top: 10% !important;
}

.form-control{
	/* width: 25% !important; */
}

#add_form {
    position: absolute;
    left: 9%;
    /* bottom: 286px; */
    min-width: 550px;
    /* width: 500px; */
    align-items: center;
    text-align: center;
    align-content: center;
    /* padding: 0% 70px 100px 0px; */
    padding-left: 20%;
    padding-right: 11%;
}

.note {
    min-width: 240px;
    max-width: 240px;
}

#edit {
    background-color: #474d8b;
    border-radius: 5px;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

#knopka{
    color: black !important;
}

#edit {

    background-color: #474d8b;
    border-radius: 5px;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

@media screen and (min-width: 1400px) {
    .header {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .header {
        width: 110%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header {
        width: 124.3%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        width: 125.4%;
    }
}