{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'css/default.css' %}">
</head>
<body>

<div class="header">

          <div class="lgn_butt" role="group" aria-label="Basic example">
             {% if request.user.is_authenticated %}
                <li class="nav-item">
                     <a class="nav-link active back" aria-current="page" href="{% url 'logout_page' %}" id="tupoycss">Выйти</a>
                </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link active back" aria-current="page" href="{% url 'login_page' %}">Авторизация</a>
                    <a class="nav-link active back" aria-current="page" href="{% url 'register_page' %}">Регистрация</a>
                </li>
              {% endif %}
          </div>

        </div>
        <div class='content'>
            <div class='List'>
                <table>
                    <tr>
                        <th id="name">Заметки</th>
                    </tr>
                    {% for note in notes %}
                    <tr class="tbl">
                        <td class="note">
                            <a href="#" class="list-group-item list-group-item-action active text-wrap" >{{ note.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </table>
            </div>
        </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</html>
